@using FinancialPortal.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<Transaction>
@{
    var db = new ApplicationDbContext();
    var user = db.Users.Find(User.Identity.GetUserId());
    var house = db.Households.Find(user.HouseholdId);

}
<!-- [ Main Content ] start -->
<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    @if (house == null)
                    {
                        <h5 class="m-b-10">Penny Pincher</h5>
                    }
                    else
                    {
                        <h5 class="m-b-10">@house.Name @house.Greeting</h5>
                    }
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!">Dashboard</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->
<!-- [ Main Content ] start -->
@if (User.IsInRole("Guest"))
{
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-border-c-blue">
                <div class="card-header"></div>
                <div class="card-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="text-center">
                                <a href="@Url.Action("Create", "Households")"><img src="~/images/House.png" style="width: 100%" /></a>
                                <h5 class="mt-4">Welcome! It's time to build a house.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (house != null)
{
    <div class="row">
        <div class="col-md-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Money in the Bank</h5>
                </div>
                <div class="card-body pl-0 pb-0">
                    <div id="bnkAccountChart"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Money in the Bank</h5>
                </div>
                <div class="card-body pl-0 pb-0">
                    <div id="budgetChart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-border-c-blue">
                <div class="card-header">
                    <h2>@house.Name's Transactions</h2>
                    <div class="card-header-right" style="margin-top: 5px; padding-right: 15px">
                        <a href="@Url.Action("Create", "Transactions")" class="btn btn-outline-primary btn-lg">Create New</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="dt-responsive table-responsive">
                        <table class="table table-striped table-bordered nowrap">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Budget Item")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Transaction Type")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Creator")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Amount")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Memo")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Created")
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderByDescending(i => i.Created))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BudgetItem.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TransactionTypeId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Owner.DisplayName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Amount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Memo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Created)
                                        </td>
                                        <td>
                                            @*@Html.ActionLink("Edit", "Edit", "Transactions", new { id = item.Id }, null) |
                                                @Html.ActionLink("Details", "Details", "Transactions", new { id = item.Id }, null) |
                                                @Html.ActionLink("Delete", "Delete", "Transactions", new { id = item.Id }, null)*@
                                            <a href="@Url.Action("Details", "Transactions", new { id = item.Id }, null)" class="btn btn-outline-primary" id="regBtn">Details</a>
                                            <a href="@Url.Action("Edit", "Transactions", new { id = item.Id }, null)" class="btn btn-outline-success" id="regBtn">Edit</a>
                                            <a href="@Url.Action("Delete", "Transactions", new { id = item.Id }, null)" class="btn btn-outline-danger" id="regBtn">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        $(function () {
            var url = "@Url.Action("BankAccountChart", "Graphing", new { houseId = db.Users.Find(User.Identity.GetUserId()).HouseholdId })";
            var $arrColors = ['#4099ff', '#2ed8b6', '#FFB64D', '#FF5370', '#edc240', '#cb4b4b', '#9440ed'];
            $.post(url).then(function (response) {
                new Morris.Bar({
                    element: "bnkAccountChart",
                    data: response,
                    xkey: "label",
                    ykeys: ["value"],
                    labels: ["Current Amount"],
                    barColors: function (row, series, type) {
                                   return $arrColors[row.x];
                    },
                    resize: true
                });
            });

            var url = "@Url.Action("BudgetChart", "Graphing", new { houseId = db.Users.Find(User.Identity.GetUserId()).HouseholdId })";
            $.post(url).then(function (response) {
                new Morris.Donut({
                    element: "budgetChart",
                    data: response,
                    xkey: "label",
                    ykeys: ["value"],
                    labels: ["Budgets"],
                    resize: true
                });
            });
        });
    </script>
}
<!-- [ Main Content ] end -->
<!-- Warning Section start -->
<!-- Older IE warning message -->
<!--[if lt IE 11]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade
           <br/>to any of the following web browsers to access this website.
        </p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="assets/images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="assets/images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="assets/images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="assets/images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="assets/images/browser/ie.png" alt="">
                        <div>IE (11 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
<![endif]-->
<!-- Warning Section Ends -->