@model FinancialPortal.Models.AcceptRegisterInvitationViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Penny Pincher</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Christopher" />

    <!-- Favicon icon -->
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">

    <!-- vendor css -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <!-- Custom -->
    <link href="~/Content/myCustom.css" rel="stylesheet" />
</head>
<body>
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="row align-items-center text-center">
                    <div class="col-md-12">
                        <div class="card-body">
                            @*<img src="~/images/logo-dark.png" alt="" class="img-fluid mb-4">*@
                            <h2 id="LandLogo"><img src="~/images/logo-thumb.png" style="padding-bottom: 5px" /> Penny Pincher</h2>
                            <h4 class="mb-3 f-w-400">@ViewBag.Greeting</h4>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.Id)
                                @Html.HiddenFor(m => m.Code)
                                @Html.HiddenFor(m => m.HouseholdId)
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="feather icon-user"></i></span>
                                    </div>
                                    <input id="FirstName" name="FirstName" type="text" class="form-control" placeholder="First name">
                                </div>
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="feather icon-corner-down-right"></i></span>
                                    </div>
                                    <input id="LastName" name="LastName" type="text" class="form-control" placeholder="Last name">
                                </div>
                                @Html.ValidationMessageFor(m => m.DisplayName, "", new { @class = "text-danger" })
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="feather icon-corner-down-right"></i></span>
                                    </div>
                                    <input id="DisplayName" name="DisplayName" type="text" class="form-control" placeholder="Display name">
                                </div>
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="feather icon-mail"></i></span>
                                    </div>
                                    <input id="Email" name="Email" type="email" class="form-control" value="@Model.Email" readonly="readonly">
                                </div>
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                    </div>
                                    <input id="Password" name="Password" type="password" class="form-control" placeholder="Password">
                                </div>
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="feather icon-corner-down-right"></i></span>
                                    </div>
                                    <input id="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control" placeholder="Confirm password">
                                </div>
                                <button class="btn btn-primary btn-block mb-4">Sign up</button>
                            }
                            <p class="mb-0">Already have an account? <a href="@Url.Action("Login")" class="f-w-400">Signin</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Required Js -->
    <script src="~/Scripts/vendor-all.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/waves.min.js"></script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}