@model IEnumerable<FinancialPortal.Models.BankAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Household)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayName("Creator")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountType)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.StartingBalance)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CurrentBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Household.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountType)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.StartingBalance)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.CurrentBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
